In [30]:
import numpy as np
import pandas as pd

In [31]:
b_summary_data = pd.read_csv('../csvs/b_summary_29.csv')
b_summary_data = b_summary_data.drop('Unnamed: 0',axis=1)
b_summary_data = b_summary_data.drop('cell_id',axis=1)
b_summary_data = b_summary_data.drop('active',axis=1)
b_summary_data = b_summary_data.drop_duplicates(subset=['compound-id'])
b_summary_data

        compound-id
0               148
66              173
87              213
92              250
99              424
...             ...
212283      2486398
212285      2486456
212290      2486460
212292      2486462
212294      2486465

[15644 rows x 1 columns]

In [32]:
csv_compuestos = pd.read_csv('../csvs/chembl29_drugs, lectura chembl29.csv')
csv_compuestos

,chembl_id,chembl-name,smiles
0,CHEMBL6329,NaN,Cc1cc(-n2ncc(=O)[nH]c2=O)ccc1C(=O)c1ccccc1Cl
1,CHEMBL6328,NaN,Cc1cc(-n2ncc(=O)[nH]c2=O)ccc1C(=O)c1ccc(C#N)cc1
2,CHEMBL265667,NaN,Cc1cc(-n2ncc(=O)[nH]c2=O)cc(C)c1C(O)c1ccc(Cl)cc1
3,CHEMBL6362,NaN,Cc1ccc(C(=O)c2ccc(-n3ncc(=O)[nH]c3=O)cc2)cc1
4,CHEMBL267864,NaN,Cc1cc(-n2ncc(=O)[nH]c2=O)ccc1C(=O)c1ccc(Cl)cc1
...,...,...,...
2084719,CHEMBL4651250,NaN,COc1ccc([P+](CCC(=O)Nc2ccc3c(c2)B(O)OC3)(c2ccc...
2084720,CHEMBL4651251,NaN,CNCc1ccc2c(c1)CN(C(=O)[C@H](N)Cc1ccc(Cl)cc1Cl)C2
2084721,CHEMBL4651252,NaN,Cc1ccc(CCCNCC(O)c2cc(O)cc3c2OCC(=O)N3)cc1
2084722,CHEMBL4651253,NaN,CCCCCCCCCCCCCCCCOC(=O)Oc1ccc(COP(=O)(OCc2ccc(O...
2084723,CHEMBL4651254,NaN,CC(C)(CC(c1ccc(F)cc1)c1ccc(F)cc1)NC[C@H](O)c1c...

In [33]:
csv_compuestos.reset_index(inplace=True)
csv_compuestos = csv_compuestos.rename(columns = {'index':'compound-id'})
csv_compuestos

,compound-id,chembl_id,chembl-name,smiles
0,0,CHEMBL6329,NaN,Cc1cc(-n2ncc(=O)[nH]c2=O)ccc1C(=O)c1ccccc1Cl
1,1,CHEMBL6328,NaN,Cc1cc(-n2ncc(=O)[nH]c2=O)ccc1C(=O)c1ccc(C#N)cc1
2,2,CHEMBL265667,NaN,Cc1cc(-n2ncc(=O)[nH]c2=O)cc(C)c1C(O)c1ccc(Cl)cc1
3,3,CHEMBL6362,NaN,Cc1ccc(C(=O)c2ccc(-n3ncc(=O)[nH]c3=O)cc2)cc1
4,4,CHEMBL267864,NaN,Cc1cc(-n2ncc(=O)[nH]c2=O)ccc1C(=O)c1ccc(Cl)cc1
...,...,...,...,...
2084719,2084719,CHEMBL4651250,NaN,COc1ccc([P+](CCC(=O)Nc2ccc3c(c2)B(O)OC3)(c2ccc...
2084720,2084720,CHEMBL4651251,NaN,CNCc1ccc2c(c1)CN(C(=O)[C@H](N)Cc1ccc(Cl)cc1Cl)C2
2084721,2084721,CHEMBL4651252,NaN,Cc1ccc(CCCNCC(O)c2cc(O)cc3c2OCC(=O)N3)cc1
2084722,2084722,CHEMBL4651253,NaN,CCCCCCCCCCCCCCCCOC(=O)Oc1ccc(COP(=O)(OCc2ccc(O...
2084723,2084723,CHEMBL4651254,NaN,CC(C)(CC(c1ccc(F)cc1)c1ccc(F)cc1)NC[C@H](O)c1c...

In [35]:
csv_compuestos[csv_compuestos['compound-id'] == 173]

,compound-id,chembl_id,chembl-name,smiles
173,173,CHEMBL6269,SC-58272,Cc1nccn1CCCCc1ccc(CC(=O)N[C@@H](CO)C(=O)N[C@@H...

In [36]:
csv_compuestos['compound-id']

0                0
1                1
2                2
3                3
4                4
            ...
2084719    2084719
2084720    2084720
2084721    2084721
2084722    2084722
2084723    2084723
Name: compound-id, Length: 2084724, dtype: int64

In [37]:
b_summary_data['compound-id']

0             148
66            173
87            213
92            250
99            424
           ...
212283    2486398
212285    2486456
212290    2486460
212292    2486462
212294    2486465
Name: compound-id, Length: 15644, dtype: int64

In [63]:
csv_resultado = pd.DataFrame(columns = csv_compuestos.columns)
csv_resultado = pd.merge(csv_compuestos, b_summary_data, on='compound-id', how='right') #Da como resultado 15644
print("csv_resultado", csv_resultado['chembl_id'].unique().size)

csv_resultado 12541

In [64]:
limpio = csv_resultado.drop_duplicates(subset=['compound-id'])
limpio

,compound-id,chembl_id,chembl-name,smiles
0,148,CHEMBL6,INDOMETHACIN,COc1ccc2c(c1)c(CC(=O)O)c(C)n2C(=O)c1ccc(Cl)cc1
1,173,CHEMBL6269,SC-58272,Cc1nccn1CCCCc1ccc(CC(=O)N[C@@H](CO)C(=O)N[C@@H...
2,213,CHEMBL8,CIPROFLOXACIN,O=C(O)c1cn(C2CC2)c2cc(N3CCNCC3)c(F)cc2c1=O
3,250,CHEMBL269497,NaN,Cc1cccc(Sc2cncc3sc(C(N)=O)cc23)c1
4,424,CHEMBL6459,NaN,CN1CCN2CC(c3ccc(Cl)cc3)c3ccccc3C2C1
...,...,...,...,...
15639,2486398,NaN,NaN,NaN
15640,2486456,NaN,NaN,NaN
15641,2486460,NaN,NaN,NaN
15642,2486462,NaN,NaN,NaN
15643,2486465,NaN,NaN,NaN

In [66]:
limpio = limpio.dropna(subset=['chembl_id'])
limpio

,compound-id,chembl_id,chembl-name,smiles
0,148,CHEMBL6,INDOMETHACIN,COc1ccc2c(c1)c(CC(=O)O)c(C)n2C(=O)c1ccc(Cl)cc1
1,173,CHEMBL6269,SC-58272,Cc1nccn1CCCCc1ccc(CC(=O)N[C@@H](CO)C(=O)N[C@@H...
2,213,CHEMBL8,CIPROFLOXACIN,O=C(O)c1cn(C2CC2)c2cc(N3CCNCC3)c(F)cc2c1=O
3,250,CHEMBL269497,NaN,Cc1cccc(Sc2cncc3sc(C(N)=O)cc23)c1
4,424,CHEMBL6459,NaN,CN1CCN2CC(c3ccc(Cl)cc3)c3ccccc3C2C1
...,...,...,...,...
12535,2084042,CHEMBL4650570,NaN,Cc1cc(/C=C/C=C/c2ccc(N(C)C)cc2)cc(C)[n+]1CCCCc...
12536,2084044,CHEMBL4650572,NaN,COc1ccc(-c2nc(NC(=O)c3ccc(OCC(=O)O)cc3)sc2CN2C...
12537,2084501,CHEMBL4651031,NaN,COc1ccc2c(c1)CC[n+]1cc3c(OC)c(OC)ccc3cc1-2
12538,2084598,CHEMBL4651129,NaN,CC[C@H]1CCC[C@H](O[C@H]2CC[C@H](N(C)CCC[P+](c3...
12539,2084601,CHEMBL4651132,NaN,CC1(C)C(/C=C/C=C/C=C2\N(CCCCCC(=O)NCCCCCCNc3c(...