In [2]:
import numpy as np
import pandas as pd

In [20]:
b_summary_data = pd.read_csv('../csvs/b_summary_29.csv')
b_summary_data = b_summary_data.drop('Unnamed: 0',axis=1)
b_summary_data = b_summary_data.drop('cell_id',axis=1)
b_summary_data = b_summary_data.drop('active',axis=1)
b_summary_data = b_summary_data.drop_duplicates(subset=['compound-id'])
b_summary_data

        compound-id
0               148
66              173
87              213
92              250
99              424
...             ...
212283      2486398
212285      2486456
212290      2486460
212292      2486462
212294      2486465

[15644 rows x 1 columns]

In [21]:
b_summary_data['compound-id'].unique().size

15644

In [22]:
#Top 3 de más similares
#Restricción: Similitudes al menos 0.55
linked_drugs = pd.read_csv('../csvs/linked_drugs.csv')
linked_drugs
#csv_compuestos = b_summary_data = pd.read_csv('../csvs/chembl29_drugs, lectura chembl29.csv')

C:\Users\Reyum\AppData\Local\Temp\ipykernel_14996\853362762.py:3: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  linked_drugs = pd.read_csv('../csvs/linked_drugs.csv')

,compound-id,chembl_id,chembl-name,smiles,drugbank-id,drugbank-name
0,0,CHEMBL6329,NaN,Cc1cc(-n2ncc(=O)[nH]c2=O)ccc1C(=O)c1ccccc1Cl,NaN,NaN
1,1,CHEMBL6328,NaN,Cc1cc(-n2ncc(=O)[nH]c2=O)ccc1C(=O)c1ccc(C#N)cc1,NaN,NaN
2,2,CHEMBL265667,NaN,Cc1cc(-n2ncc(=O)[nH]c2=O)cc(C)c1C(O)c1ccc(Cl)cc1,NaN,NaN
3,3,CHEMBL6362,NaN,Cc1ccc(C(=O)c2ccc(-n3ncc(=O)[nH]c3=O)cc2)cc1,NaN,NaN
4,4,CHEMBL267864,NaN,Cc1cc(-n2ncc(=O)[nH]c2=O)ccc1C(=O)c1ccc(Cl)cc1,NaN,NaN
...,...,...,...,...,...,...
1952291,1952291,NaN,NaN,NCC1=CC(=NC(OC2=CC(=CC=C2)C(=O)N2C[C@@H](O)[C@...,DB16735,PAT-1251
1952292,1952292,NaN,NaN,CC(=O)NCC(=O)N[C@@H](CCC(N)=O)C(=O)N[C@@H](CC1...,DB16737,MM3122
1952293,1952293,NaN,NaN,CC(C)C1=CC=C2N(CC3=CC=C(Cl)C=C3)C(CC(C)(C)C(O)...,DB16739,MK-886
1952294,1952294,NaN,NaN,[H][C@@]1(OB(O[C@]1([H])[C@H](O)CO)[C@H](CC(C)...,DB16741,Bortezomib D-mannitol
1952295,1952295,NaN,NaN,CCOC(=O)C1=CC(NCC2=CC=CC=C2)=C(NC2CCCCC2)N=C1,DB16745,PXT 3003

In [23]:
#linked_drugs.loc[linked_drugs['compound-id'] == 1952233]
linked_drugs.loc[linked_drugs['compound-id'] == 173]

,compound-id,chembl_id,chembl-name,smiles,drugbank-id,drugbank-name
173,173,CHEMBL6269,SC-58272,Cc1nccn1CCCCc1ccc(CC(=O)N[C@@H](CO)C(=O)N[C@@H...,NaN,NaN

In [24]:
#b_summary_data.loc[b_summary_data['compound-id'] == 1952233]
b_summary_data.loc[b_summary_data['compound-id'] == 2486465]

        compound-id
212294      2486465

In [25]:
csv_resultado = pd.DataFrame(columns = linked_drugs.columns)
csv_resultado = pd.merge(linked_drugs, b_summary_data, on='compound-id', how='right') #Da como resultado 15644
#csv_resultado = pd.merge(linked_drugs, b_summary_data, on='compound-id') #Da como resultado 11641
#csv_resultado = pd.merge(linked_drugs, b_summary_data, on='compound-id')

In [26]:
print("csv_resultado", csv_resultado['chembl_id'].unique().size)

csv_resultado 11557

In [27]:
csv_resultado

,compound-id,chembl_id,chembl-name,smiles,drugbank-id,drugbank-name
0,148,CHEMBL6,INDOMETHACIN,COc1ccc2c(c1)c(CC(=O)O)c(C)n2C(=O)c1ccc(Cl)cc1,NaN,NaN
1,173,CHEMBL6269,SC-58272,Cc1nccn1CCCCc1ccc(CC(=O)N[C@@H](CO)C(=O)N[C@@H...,NaN,NaN
2,213,CHEMBL8,CIPROFLOXACIN,O=C(O)c1cn(C2CC2)c2cc(N3CCNCC3)c(F)cc2c1=O,NaN,NaN
3,250,CHEMBL269497,NaN,Cc1cccc(Sc2cncc3sc(C(N)=O)cc23)c1,NaN,NaN
4,424,CHEMBL266801,NaN,CN1CCN2CC(c3ccc([N+](=O)[O-])cc3)c3ccccc3C2C1,NaN,NaN
...,...,...,...,...,...,...
15639,2486398,NaN,NaN,NaN,NaN,NaN
15640,2486456,NaN,NaN,NaN,NaN,NaN
15641,2486460,NaN,NaN,NaN,NaN,NaN
15642,2486462,NaN,NaN,NaN,NaN,NaN
15643,2486465,NaN,NaN,NaN,NaN,NaN

In [60]:
limpio = csv_resultado.drop_duplicates(subset=['compound-id'])
print(limpio)

       compound-id     chembl_id    chembl-name  \
0              148       CHEMBL6   INDOMETHACIN
1              173    CHEMBL6269       SC-58272
2              213       CHEMBL8  CIPROFLOXACIN
3              250  CHEMBL269497            NaN
4              424  CHEMBL266801            NaN
...            ...           ...            ...
11636      1951448           NaN            NaN
11637      1951883           NaN            NaN
11638      1952230           NaN            NaN
11639      1952231           NaN            NaN
11640      1952233           NaN            NaN

                                                  smiles drugbank-id  \
0         COc1ccc2c(c1)c(CC(=O)O)c(C)n2C(=O)c1ccc(Cl)cc1         NaN
1      Cc1nccn1CCCCc1ccc(CC(=O)N[C@@H](CO)C(=O)N[C@@H...         NaN
2             O=C(O)c1cn(C2CC2)c2cc(N3CCNCC3)c(F)cc2c1=O         NaN
3                      Cc1cccc(Sc2cncc3sc(C(N)=O)cc23)c1         NaN
4          CN1CCN2CC(c3ccc([N+](=O)[O-])cc3)c3ccccc3C2C1         NaN
...                                                  ...         ...
11636  CC(C)(NC(=O)O[C@@H]1CN2CCC1CC2)C1=CSC(=N1)C1=C...     DB14966
11637  [H+].[H+].O.[K+].[K+].N[C@@H](CC([O-])=O)C([O-...     DB15819
11638  COC(=O)N[C@@H](CC1=CC=CC=C1)C(=O)N[C@@H](CC1=C...     DB16353
11639  [Cl-].[Cl-].[Mn++].C1CC[C@@H]2NCC3=CC=CC(CN[C@...     DB16354
11640                          N1C=CC(\C=C\C2=CC=CS2)=N1     DB16397

              drugbank-name
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
...                     ...
11636            Venglustat
11637   Potassium aspartate
11638          Razuprotafib
11639  Avasopasem manganese
11640           Terevalefim

[11641 rows x 6 columns]

In [369]:
limpio.to_csv('compound_with_name.csv')