In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
summary_profe = pd.read_csv('../csvs/comp_summary.csv', index_col=0)
summary_profe = summary_profe.assign(top3_29='')
summary_profe

,smiles,pref_name,id_24,id_25,id_26,id_27,id_28,id_29,top3_29
0,COC(=O)[C@@H](N)CO,NaN,188,188,188,188,188,188,
1,CCc1cc2c(Sc3nnc(N)s3)ncnc2s1,NaN,236,236,236,236,236,236,
2,CCc1cc2c(O)ncnc2s1,NaN,238,238,238,238,238,238,
3,CCc1cc2c(Cl)ncnc2s1,NaN,265,265,265,265,265,265,
4,CCc1cc2c(Sc3nnc(C)s3)ncnc2s1,NaN,266,266,266,266,266,266,
...,...,...,...,...,...,...,...,...,...
48627,CCOP(=O)(CCC(=O)Nc1cccc(OCc2ccccc2)c1)OCC,NaN,2196093,2196093,2196093,2196093,2196093,2196093,
48628,Fc1ccc2c(CN3CCC(F)(F)[C@H](CCc4ccccc4F)C3)c[nH...,NaN,2196217,2196217,2196217,2196217,2196217,2196217,
48629,COc1cccc(Oc2ccc(NS(=O)(=O)c3ccccc3)cc2)c1,NaN,2196340,2196340,2196340,2196340,2196340,2196340,
48630,Cc1cnc2[nH]cc(C(=O)c3c(F)ccc(NS(=O)(=O)c4cc(F)...,NaN,2196369,2196369,2196369,2196369,2196369,2196369,
48631,C[C@@H](CC[C@H](O)C(C)(C)O)[C@@H]1CC[C@]2(C)C3...,NaN,2196518,2196518,2196518,2196518,2196518,2196518,

In [36]:
lista_profe = summary_profe['id_29'].unique()
len(lista_profe)

48632

In [7]:
summary_profe[summary_profe['id_29'] == 82983]

Empty DataFrame
Columns: [smiles, pref_name, id_24, id_25, id_26, id_27, id_28, id_29, top3_29]
Index: []

In [26]:
conj_diferencia = pd.read_csv('../csvs/compounds30_ni_29.csv', index_col = 0)
conj_diferencia = conj_diferencia.sort_values('compound_id')
conj_diferencia

         compound_id  cell_id  active
5652269           97     5673      -1
5653635          115     5673      -1
5648921          146     5673      -1
5650169          147     5673      -1
5682515          148      325      -1
...              ...      ...     ...
5652553      2537375     5673      -1
5933543      2537376      303      -1
5933549      2537376      721      -1
5933555      2537376      786      -1
5933537      2537376      646      -1

[66314 rows x 3 columns]

In [74]:
lista = conj_diferencia['compound_id'].unique()
lista

array([     97,     115,     146, ..., 2537374, 2537375, 2537376],
      dtype=int64)

In [34]:
cont = 0
for i in lista:
    if i in lista_profe:
        cont += 1
#         print(i)
cont

1127

In [37]:
compuestos_30 = pd.read_csv('../csvs/chembl30_drugs.csv', index_col = 0)
compuestos_30

,molregno,chembl-name,smiles
chembl_id,,,
CHEMBL6329,1,NaN,Cc1cc(-n2ncc(=O)[nH]c2=O)ccc1C(=O)c1ccccc1Cl
CHEMBL6328,2,NaN,Cc1cc(-n2ncc(=O)[nH]c2=O)ccc1C(=O)c1ccc(C#N)cc1
CHEMBL265667,3,NaN,Cc1cc(-n2ncc(=O)[nH]c2=O)cc(C)c1C(O)c1ccc(Cl)cc1
CHEMBL6362,4,NaN,Cc1ccc(C(=O)c2ccc(-n3ncc(=O)[nH]c3=O)cc2)cc1
CHEMBL267864,5,NaN,Cc1cc(-n2ncc(=O)[nH]c2=O)ccc1C(=O)c1ccc(Cl)cc1
...,...,...,...
CHEMBL4804168,2539419,NaN,O=S(=O)(Nc1ccc2ccccc2c1)c1ccc(Nc2ccnc3cc(Cl)cc...
CHEMBL4804169,2539420,NaN,c1ccc2cc(Cn3cc[n+](CCCCn4cc[n+](Cc5ccc6ccccc6c...
CHEMBL4804170,2539421,NaN,CCCCCC(=O)N[C@H](C(=O)NCc1ccc(CNC(=N)N)cc1)c1c...
CHEMBL4804171,2539422,AFP-464 FREE SALT,Cc1c(F)c(N)c2c(=O)cc(-c3ccc(NC(=O)[C@@H](N)CCC...
CHEMBL4804173,2539424,FLORQUINITAU,Nc1c(F)ccc2cnc(-n3ccc4ccncc43)cc12

In [72]:
dif_smiles = []
diferencia_plus_smiles = pd.DataFrame(columns=['compound_id', 'smiles'])
cont = 0
for i in lista:
#     print(i)
    var = compuestos_30.iloc[:, [0,2]][compuestos_30['molregno'] == i]
#     diferencia_plus_smiles.loc[cont] = var
#     cont =+ 1
#     print(fixed_df.columns)
    dif_smiles.append(var)

In [88]:
# diferencia_plus_smiles = pd.DataFrame(dif_smiles, columns=['chembl_id', 'compound_id', 'smiles'])
diferencia_plus_smiles = pd.concat(dif_smiles, axis=0, ignore_index=True)
diferencia_plus_smiles

       molregno                                             smiles
0            97      COc1cc2nc(N3CCN(C(=O)c4ccco4)CC3)nc(N)c2cc1OC
1           115                               CN1CCC[C@H]1c1cccnc1
2           146   CC1COc2c(N3CCN(C)CC3)c(F)cc3c(=O)c(C(=O)O)cn1c23
3           147                    CCn1cc(C(=O)O)c(=O)c2ccc(C)nc21
4           148         O=c1oc2c(O)c(O)cc3c(=O)oc4c(O)c(O)cc1c4c23
...         ...                                                ...
38911   2537371  CCCC[C@H]1NC(=O)[C@H](Cc2ccc(F)cc2)NC(=O)[C@H]...
38912   2537372  CCCCCCCCCCNCCN[C@@]1(C)C[C@H](O[C@H]2[C@H](Oc3...
38913   2537374  CCN1C[C@]2(OC(=O)c3ccccc3NC(C)=O)CC[C@H](OC)[C...
38914   2537375           CC/C=C/C/C=C/C/C=C/C/C=C/C/C=C/CCCC(=O)O
38915   2537376  CC(=O)O[C@H]1[C@H](OC(C)=O)CO[C@@H](n2[se]c3cc...

[38916 rows x 2 columns]

In [89]:
diferencia_plus_smiles.to_csv('../csvs/diferencia_plus_smiles, Fix_ids.csv', index = False)

In [91]:
lista_dif = diferencia_plus_smiles['molregno'].unique()
lista_dif

array([     97,     115,     146, ..., 2537374, 2537375, 2537376],
      dtype=int64)

In [95]:
diferencia_plus_smiles[diferencia_plus_smiles['molregno'] == 113095]

Empty DataFrame
Columns: [molregno, smiles]
Index: []

In [92]:
for i in lista:
    if i not in lista_dif:
        print(i)

112652
113095
248021
305075
308917
342387
404631
608515
608519
1050629
1050631
1358685
1358693
1358798
1358814
1358844
2068107
2068108
2068109
2068111
2068112
2468892
2505510
2529582