In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

In [2]:
summary_29 = pd.read_csv('../csvs/activity_29.csv', index_col = 0)
conj_to_predict = pd.read_csv('../csvs/compounds30_ni_29.csv', index_col = 0)
# top3 = pd.read_csv('../csvs/top3_with_smiles, fix_top3.csv')
top3 = pd.read_csv('../csvs/top3_29, fix_top3.csv')
b_summary_data = pd.read_csv('../csvs/b_summary_29, Obtener_BSummary.csv', index_col = 0)
perfil_afinidad_activity = pd.read_csv('../csvs/perfil_afinidad_celulas_29_plusActivity, Obtener perfiles de afinidad.csv')
# perfil_afinidad_activity = pd.read_csv('../csvs/perfil_afinidad_celulas_29_plusActivity_noB, Obtener perfiles de afinidad.csv', index_col = 0)
comp_summary = pd.read_csv('../csvs/comp_summary.csv', index_col=0)
comp_summary = comp_summary.drop(['id_24', 'id_25', 'id_26', 'id_27', 'id_28'], axis=1)
new_top3 = pd.read_csv('../csvs/predictions_df_2829.csv', index_col=0)

In [9]:
new_top3

       uid    iid  r_ui       est                    details
0        1   2477  -1.0 -0.672713  {'was_impossible': False}
1      248   2477   1.0 -0.672713  {'was_impossible': False}
2      324   2477  -1.0 -0.505526  {'was_impossible': False}
3      655   2477  -1.0 -0.463591  {'was_impossible': False}
4      786   2477  -1.0 -0.480157  {'was_impossible': False}
...    ...    ...   ...       ...                        ...
1687  5545  36200  -1.0 -0.196406  {'was_impossible': False}
1688  5552     35  -1.0 -0.557425  {'was_impossible': False}
1689  5561   7920  -1.0  0.013457  {'was_impossible': False}
1690  5563     74  -1.0 -0.485280  {'was_impossible': False}
1691  5890  10707  -1.0 -0.672713  {'was_impossible': False}

[1692 rows x 5 columns]

In [26]:
conj_to_predict

       compound_id  cell_id  active prediccion
0               97     5673      -1
1              115     5673      -1
2              146     5673      -1
3              147     5673      -1
4              148      325      -1
...            ...      ...     ...        ...
66309      2537375     5673      -1
66310      2537376      303      -1
66311      2537376      721      -1
66312      2537376      786      -1
66313      2537376      646      -1

[66314 rows x 4 columns]

In [58]:
perfil_afinidad_activity

,cell_id,id_compuestos_actividad,activity
0,1,"[2580, 5105, 13590, 178357, 1148287]","[1, 1, -1, -1, 1]"
1,2,"[42503, 444713, 1337017]","[-1, -1, -1]"
2,3,"[5769, 16758, 16949, 103459, 287231, 446279, 2...","[-1, -1, -1, -1, 1, -1, 1]"
3,5,"[717, 2208, 5105, 5268, 8633, 11305, 13590, 49...","[-1, -1, 1, -1, -1, -1, -1, -1, -1, 1, 1, -1, ..."
4,7,"[68607, 1704201, 1704202]","[-1, -1, -1]"
...,...,...,...
1464,5924,"[232036, 232036, 2469807, 2469807]","[1, -1, -1, 1]"
1465,5927,[462435],[-1]
1466,5928,"[25906, 183934]","[-1, -1]"
1467,5930,[368538],[-1]
1468,5931,"[923, 2471419, 2471677, 2471958, 2473036, 2475...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]"

In [56]:
# perfil_afinidad_activity
perf_af = eval(perfil_afinidad_activity['id_compuestos_actividad'][perfil_afinidad_activity['cell_id'] == 5673].tolist()[0])
print(perf_af)
tengo_top3 = top3['id_29'].tolist()
print(tengo_top3)
for i in perf_af:
    if i in tengo_top3:
        print("si hay")

[173, 923, 3859, 11254, 19101, 19320, 23598, 24642, 34197, 38843, 39672, 42503, 46656, 49931, 62259, 65605, 68396, 76984, 77055, 77456, 78520, 80081, 92600, 99755, 158276, 158277, 237139, 238412, 267163, 275631, 297097, 336913, 349548, 349663, 364141, 374473, 419032, 426232, 429088, 442303, 447415, 469763, 474713, 480382, 485738, 489525, 556755, 560586, 602753, 608601, 616450, 675697, 675697, 685991, 691562, 696704, 1153572, 1175998, 1248679, 1248679, 1277553, 1347273, 1347273, 1407602, 1407602, 1413247, 1439533, 1439533, 1540172, 1835710, 1927003, 2176567, 2176567, 2222656, 2335425, 2341022, 2341022, 2341613, 2469870, 2476279]
[789, 1216, 1370, 2214, 4149, 4584, 8667, 16741, 19101, 22956, 23634, 26732, 27417, 27647, 30697, 38898, 39794, 43354, 71335, 93858, 107931, 115064, 130007, 171100, 182325, 365281, 368083, 379075, 397731, 420212, 425372, 433015, 449953, 454365, 469690, 598578, 675333, 686684, 975608, 1592405]
si hay

In [25]:
# top3 = top3.drop(top3[top3.top3_29 == 'Nan'].index) 
top3 = top3.dropna()
top3

,smiles,pref_name,id_29,top3_29
30,COCCc1ccc(OCC(O)CNC(C)C)cc1,METOPROLOL,789,"[528246, 43354, 1354]"
37,COc1cc(Cc2cnc(N)nc2N)cc(OC)c1OC,TRIMETHOPRIM,1216,"[31089, 91953, 532282]"
43,CC(C)NCC(O)COc1cccc2ccccc12,PROPRANOLOL,1370,"[10099, 454176, 8543]"
74,NCCc1c[nH]c2ccc(O)cc12,SEROTONIN,2214,"[16825, 715115, 715116]"
118,CCCN(CCC)C1CCc2cccc(O)c2C1,8-OH-DPAT,4149,"[35324, 57632, 687]"
123,NCCc1ccc(O)c(O)c1,DOPAMINE,4584,"[410831, 482442, 1303796]"
202,Cn1cc(NC(=O)c2cc(NC(=O)c3cc(NC=O)cn3C)cn2C)cc1...,STALLIMYCIN,8667,"[550748, 1744007, 124078]"
416,CC(=O)c1ccccc1,ACETOPHENONE,16741,"[1832991, 982047, 337801]"
475,COc1cc(NCc2ccc3nc(N)nc(N)c3c2C)cc(OC)c1OC,TRIMETREXATE,19101,"[29859, 1826258, 19194]"
558,NCCNCCNCCN,TRIENTINE,22956,"[1924393, 40935, 30697]"
604,NCCCCNCCCN,SPERMIDINE,23634,"[146189, 676448, 30697]"
656,CC(=O)OC1CN2CCC1CC2,ACECLIDINE,26732,"[608723, 608724, 1286946]"
660,CC(C)NCC(O)COc1ccc(COCCOC(C)C)cc1,BISOPROLOL,27417,"[528246, 789, 1354]"
665,NC12CC3CC(CC(C3)C1)C2,AMANTADINE,27647,"[1348186, 1348185, 513599]"
728,NCCCNCCCCNCCCN,SPERMINE,30697,"[23634, 40371, 126751]"
878,Nc1nc2ccc(OC(F)(F)F)cc2s1,RILUZOLE,38898,"[575687, 869536, 1563036]"
897,NCCCCCCCCN,DIAMINOOCTANE,39794,"[40936, 107905, 108414]"
1025,COC(=O)CCc1ccc(OCC(O)CNC(C)C)cc1,ESMOLOL,43354,"[789, 528246, 255132]"
1499,NCCCCN,PUTRESCINE,71335,"[39794, 40936, 107905]"
2049,CC(N)C12CC3CC(CC(C3)C1)C2,RIMANTADINE,93858,"[1826880, 93820, 93855]"
2347,CCCCCCCCCCCCCCCC[N+](C)(C)C,CETRIMONIUM BROMIDE,107931,"[182325, 171062, 171100]"
2477,Cn1cc(NC(=O)c2cc(NC(=O)CNC(=N)N)cn2C)cc1C(=O)N...,NETROPSIN,115064,"[124064, 124633, 124634]"
2786,Oc1cccc2cccnc12,OXYQUINOLINE,130007,"[1309537, 1300923, 1301102]"
3527,C[N+](C)(C)CCCCCC[N+](C)(C)C,HEXAMETHONIUM CHLORIDE,171100,"[171100, 196597, 107931]"
3736,CCCCCCCCCCCCCC[N+](C)(C)C,CETRIMIDE,182325,"[182325, 171062, 171100]"
7499,C[C@@H]1C[C@H]2[C@@H]3CCC4=CC(=O)C=C[C@]4(C)[C...,DEXAMETHASONE,365281,"[365281, 675313, 309702]"
7614,CC(C)(C)CC(C)(C)c1ccc(OCCOCC[N+](C)(C)Cc2ccccc...,BENZETHONIUM CHLORIDE,368083,"[1575485, 1533767, 1575486]"
7920,Nc1nc(N)c2nc[nH]c2n1,"2,6-DIAMINOPURINE",379075,"[403907, 379074, 1945500]"
8382,N[C@@H](CSCC(=O)O)C(=O)O,CARBOCYSTEINE,397731,"[1627946, 1299752, 397734]"
8935,C[C@@H]1CC[C@H]2[C@@H](C)[C@@H](O)O[C@@H]3O[C@...,ARTENIMOL,420212,"[1679784, 1622207, 1956762]"
9045,CNC(=N)NCCC[C@H](N)C(=O)O,TILARGININE,425372,"[425372, 175743, 1281629]"
9211,N[C@@H](Cc1cc(I)c(Oc2ccc(O)c(I)c2)c(I)c1)C(=O)O,LIOTHYRONINE,433015,"[433015, 532716, 675070]"
9686,CCCCCCCCCCCCCCC[C@@H](O)[C@@H](N)CO,DIHYDROSPINGOSINE,449953,"[177855, 449953, 866818]"
9829,Clc1ccc(CCCOCCCN2CCCCC2)cc1,PITOLISANT,454365,"[951992, 2055475, 2055478]"
10240,N[C@@H](Cc1cc(I)c(Oc2cc(I)c(O)c(I)c2)c(I)c1)C(...,LEVOTHYROXINE,469690,"[469690, 698819, 1324361]"
14204,CCCCCCCCCCCCCCCC(=O)OC1CCCC1,CYCLOPENTYL PALMITATE,598578,"[598646, 598709, 227246]"
15454,NCCCNCCS,WR-1065,675333,"[40935, 30697, 145451]"
15637,CC(C)c1cc(C(=O)N2Cc3ccc(CN4CCN(C)CC4)cc3C2)c(O...,ONALESPIB,686684,"[1590247, 686607, 687477]"
24086,NC(=O)c1ncn([C@@H]2O[C@H](CO)[C@@H](O)[C@H]2O)c1N,ACADESINE,975608,"[1510613, 277046, 386756]"
37301,CNC(C)[C@@H]1CC[C@@H](N)[C@@H](O[C@@H]2[C@@H](...,GENTAMICIN SULFATE,1592405,"[1592405, 1298273, 2088833]"

In [4]:
compuestos_en_pa = b_summary_data['compound_id'].unique().tolist()
compuestos_en_pa

[97,
 148,
 173,
 213,
 250,
 415,
 424,
 436,
 465,
 491,
 534,
 573,
 603,
 605,
 675,
 687,
 717,
 729,
 799,
 818,
 819,
 822,
 824,
 857,
 858,
 860,
 892,
 923,
 924,
 996,
 1061,
 1146,
 1193,
 1219,
 1370,
 1413,
 1419,
 1479,
 1480,
 1575,
 1699,
 1756,
 1763,
 1785,
 1892,
 1924,
 1994,
 2067,
 2076,
 2080,
 2093,
 2203,
 2208,
 2214,
 2223,
 2261,
 2262,
 2296,
 2297,
 2309,
 2310,
 2580,
 2658,
 2749,
 2812,
 2866,
 3012,
 3183,
 3214,
 3389,
 3587,
 3683,
 3784,
 3847,
 3848,
 3854,
 3859,
 3965,
 3998,
 4149,
 4259,
 4344,
 4345,
 4370,
 4381,
 4496,
 4504,
 4584,
 4634,
 4775,
 4843,
 4872,
 5015,
 5016,
 5028,
 5043,
 5049,
 5076,
 5089,
 5095,
 5098,
 5105,
 5143,
 5159,
 5165,
 5181,
 5227,
 5268,
 5284,
 5295,
 5371,
 5389,
 5575,
 5582,
 5622,
 5638,
 5700,
 5709,
 5769,
 5797,
 5801,
 5818,
 5884,
 5970,
 5985,
 5990,
 6005,
 6012,
 6088,
 6104,
 6216,
 6243,
 6341,
 6402,
 6579,
 6614,
 6643,
 6760,
 6772,
 6784,
 6902,
 6914,
 6936,
 6968,
 6972,
 7065,
 7343,
 7427,
 7501,
 7714,
 8062,
 8090,
 8531,
 8532,
 8543,
 8596,
 8632,
 8633,
 8667,
 8682,
 8873,
 8910,
 8917,
 9097,
 9121,
 9128,
 9283,
 9372,
 10042,
 10057,
 10102,
 10103,
 10352,
 10383,
 10385,
 10661,
 10664,
 10813,
 10920,
 11005,
 11211,
 11212,
 11217,
 11254,
 11305,
 11370,
 11501,
 11545,
 12225,
 12437,
 12479,
 12494,
 12588,
 12608,
 12825,
 12850,
 12861,
 12911,
 12957,
 13048,
 13050,
 13132,
 13432,
 13449,
 13590,
 13633,
 13693,
 14125,
 14263,
 14366,
 14367,
 14415,
 14426,
 14427,
 14431,
 14440,
 14459,
 14461,
 14462,
 14499,
 14510,
 14526,
 14529,
 14576,
 14709,
 14722,
 14785,
 14802,
 14805,
 14987,
 15017,
 15146,
 15149,
 15191,
 15261,
 15282,
 15317,
 15357,
 15392,
 15401,
 15670,
 15738,
 16088,
 16391,
 16437,
 16505,
 16524,
 16547,
 16592,
 16634,
 16758,
 16949,
 17155,
 17169,
 17170,
 17215,
 17224,
 17283,
 17308,
 17309,
 17347,
 18084,
 18219,
 18520,
 18576,
 18589,
 18594,
 18694,
 18696,
 18841,
 19028,
 19101,
 19191,
 19316,
 19320,
 19399,
 19517,
 19572,
 19573,
 19589,
 19706,
 19714,
 19747,
 19791,
 19840,
 19841,
 19915,
 19922,
 20027,
 20130,
 20131,
 20140,
 20233,
 20346,
 20481,
 20497,
 20504,
 20507,
 20524,
 20535,
 20537,
 20596,
 20608,
 20616,
 21074,
 21075,
 21113,
 21201,
 21258,
 21331,
 21459,
 21523,
 21534,
 21789,
 21791,
 21824,
 21917,
 21938,
 22043,
 22081,
 22314,
 22383,
 22384,
 22385,
 22404,
 22653,
 22664,
 22689,
 22693,
 22694,
 22733,
 22942,
 22943,
 23003,
 23048,
 23093,
 23199,
 23323,
 23419,
 23598,
 23721,
 23987,
 24024,
 24432,
 24642,
 24730,
 24731,
 24939,
 24969,
 25033,
 25058,
 25459,
 25497,
 25510,
 25512,
 25619,
 25659,
 25756,
 25794,
 25877,
 25906,
 26451,
 26648,
 26653,
 26809,
 26838,
 27072,
 27105,
 27111,
 27115,
 27152,
 27278,
 27307,
 27342,
 27368,
 27370,
 27609,
 27626,
 27638,
 27713,
 27812,
 28112,
 28675,
 28703,
 28853,
 29090,
 29325,
 29376,
 29414,
 29493,
 29606,
 29831,
 29948,
 30376,
 30459,
 30484,
 30761,
 30818,
 30884,
 31125,
 31146,
 31152,
 31153,
 31215,
 31241,
 31273,
 31429,
 31543,
 31738,
 32116,
 32161,
 32222,
 32334,
 32359,
 32420,
 32446,
 32553,
 32695,
 32750,
 32785,
 32821,
 32852,
 33216,
 33307,
 33373,
 33420,
 33675,
 33679,
 33738,
 33785,
 33870,
 33889,
 33986,
 34197,
 34608,
 34620,
 34916,
 34933,
 35041,
 35108,
 35668,
 35874,
 35982,
 36237,
 36246,
 36257,
 36285,
 36294,
 36533,
 36595,
 36628,
 36662,
 36689,
 36737,
 36769,
 36790,
 36791,
 36792,
 36842,
 37095,
 37266,
 37316,
 37586,
 37587,
 37588,
 37647,
 37694,
 37812,
 37835,
 37836,
 37837,
 37838,
 37938,
 37939,
 38089,
 38090,
 38091,
 38114,
 38115,
 38158,
 38217,
 38319,
 38325,
 38348,
 38349,
 38350,
 38424,
 38426,
 38462,
 38466,
 38512,
 38546,
 38547,
 38575,
 38624,
 38625,
 38705,
 38843,
 39202,
 39203,
 39291,
 39305,
 39345,
 39346,
 39383,
 39480,
 39672,
 39723,
 39781,
 40028,
 40029,
 40030,
 40408,
 40446,
 40518,
 40519,
 40797,
 40798,
 40899,
 41367,
 41368,
 41431,
 41530,
 41578,
 41764,
 41796,
 41838,
 41870,
 41906,
 42078,
 42179,
 42238,
 42299,
 42304,
 42503,
 42520,
 42615,
 42644,
 43060,
 43159,
 43300,
 43323,
 43389,
 43838,
 43847,
 44165,
 44378,
 44488,
 44882,
 44905,
 44920,
 45516,
 45517,
 45698,
 45727,
 45764,
 45838,
 45947,
 46106,
 46143,
 46161,
 46162,
 46385,
 46539,
 46540,
 46560,
 46589,
 46596,
 46597,
 46628,
 46644,
 46656,
 46680,
 46777,
 46814,
 46962,
 46963,
 47027,
 47447,
 47573,
 47579,
 47581,
 47619,
 47620,
 47621,
 47675,
 48019,
 48038,
 48039,
 48090,
 48091,
 48092,
 48129,
 48147,
 48191,
 48272,
 48302,
 48376,
 48394,
 48398,
 48400,
 48572,
 48637,
 48662,
 48789,
 48859,
 49063,
 49345,
 49566,
 49567,
 49659,
 49660,
 49696,
 49830,
 49844,
 49884,
 49922,
 49924,
 49931,
 49963,
 50068,
 50077,
 50078,
 50101,
 50122,
 50153,
 50189,
 50194,
 50219,
 50244,
 50254,
 50256,
 50326,
 50439,
 50569,
 50570,
 50579,
 50580,
 50586,
 50593,
 50595,
 50640,
 50649,
 50719,
 50760,
 50859,
 50878,
 50908,
 50909,
 50912,
 50923,
 50944,
 50962,
 51003,
 51018,
 51099,
 51182,
 51264,
 51350,
 51607,
 51641,
 51896,
 51929,
 51961,
 51979,
 52141,
 52338,
 52393,
 52523,
 52696,
 52812,
 52938,
 53616,
 53795,
 54135,
 54547,
 54662,
 54680,
 54705,
 54712,
 54759,
 54825,
 54917,
 55033,
 55034,
 55042,
 55075,
 55112,
 55335,
 55372,
 55432,
 55441,
 55476,
 55589,
 55670,
 55671,
 56040,
 56052,
 56070,
 56081,
 56132,
 56133,
 56458,
 56459,
 56713,
 56960,
 57576,
 57636,
 58224,
 58359,
 58818,
 58836,
 59354,
 59965,
 60597,
 61070,
 61111,
 61142,
 61246,
 61290,
 61315,
 61337,
 61675,
 61860,
 61897,
 61909,
 61912,
 62111,
 62131,
 62208,
 62246,
 62259,
 62277,
 62279,
 62314,
 62392,
 62404,
 62405,
 62431,
 62452,
 62482,
 62497,
 62540,
 62681,
 62806,
 62817,
 62818,
 62819,
 62835,
 62850,
 63069,
 63100,
 63187,
 63252,
 63279,
 63535,
 63536,
 63613,
 64671,
 65396,
 65494,
 65500,
 65573,
 65605,
 65648,
 66050,
 66070,
 66246,
 66373,
 66391,
 66673,
 66717,
 66892,
 67010,
 67253,
 67419,
 67468,
 67469,
 67508,
 67533,
 67781,
 67886,
 67948,
 68345,
 68346,
 68380,
 68396,
 68407,
 68441,
 68578,
 68607,
 69075,
 69277,
 69830,
 69853,
 69885,
 69890,
 70205,
 70281,
 70352,
 70353,
 70354,
 70355,
 70714,
 70814,
 70959,
 70993,
 71140,
 71142,
 71232,
 71266,
 71315,
 71378,
 71496,
 71497,
 71516,
 71567,
 71604,
 71638,
 71996,
 72035,
 72080,
 72107,
 72338,
 72445,
 72504,
 72564,
 72565,
 72708,
 72720,
 72739,
 72873,
 72933,
 73066,
 73070,
 73109,
 73719,
 74169,
 74663,
 74664,
 74878,
 74927,
 74941,
 75053,
 75067,
 75095,
 75116,
 75129,
 75146,
 75166,
 75185,
 75194,
 75231,
 75237,
 75242,
 75258,
 75272,
 75286,
 75386,
 75577,
 75654,
 75696,
 75707,
 75784,
 75841,
 75859,
 75901,
 76089,
 76430,
 76767,
 76768,
 76779,
 76798,
 76844,
 76862,
 76962,
 76984,
 77050,
 77052,
 77055,
 77128,
 77129,
 77456,
 77470,
 77471,
 77490,
 77709,
 77954,
 77980,
 78029,
 78520,
 78560,
 78591,
 78699,
 78740,
 78759,
 78949,
 79047,
 79267,
 80081,
 80209,
 80295,
 80392,
 80528,
 80669,
 80887,
 80931,
 80973,
 81022,
 81028,
 81083,
 81146,
 81204,
 81212,
 81230,
 81260,
 81508,
 81739,
 81958,
 82133,
 82177,
 82297,
 82763,
 82786,
 82934,
 82954,
 82982,
 82983,
 83131,
 83137,
 83307,
 83400,
 83401,
 83634,
 84047,
 84049,
 84089,
 84151,
 84153,
 84170,
 84174,
 84175,
 84177,
 84214,
 84295,
 84306,
 84367,
 84369,
 84390,
 84505,
 84511,
 84558,
 84655,
 84803,
 84830,
 84842,
 84850,
 84854,
 84855,
 84866,
 84868,
 84908,
 85268,
 85269,
 85273,
 85322,
 85323,
 85324,
 85327,
 85328,
 85331,
 85401,
 85434,
 85484,
 85485,
 85486,
 85529,
 85547,
 85548,
 85549,
 85550,
 85620,
 85825,
 85922,
 86009,
 86102,
 86120,
 86381,
 86384,
 86504,
 86524,
 86525,
 86557,
 86885,
 86889,
 87051,
 87197,
 87203,
 87210,
 87216,
 ...]

In [44]:
# 789	5673 #actividad a predecir
perfil_afinidad = get_listaCompuestos_conActividad(5673)[0]
print(perfil_afinidad)
for c in perfil_afinidad:
    top3_c = get_top3_29(c)
    print(top3_c)
# for i in top3['id_29']:
    
#     print(i)

[173, 923, 3859, 11254, 19101, 19320, 23598, 24642, 34197, 38843, 39672, 42503, 46656, 49931, 62259, 65605, 68396, 76984, 77055, 77456, 78520, 80081, 92600, 99755, 158276, 158277, 237139, 238412, 267163, 275631, 297097, 336913, 349548, 349663, 364141, 374473, 419032, 426232, 429088, 442303, 447415, 469763, 474713, 480382, 485738, 489525, 556755, 560586, 602753, 608601, 616450, 675697, 675697, 685991, 691562, 696704, 1153572, 1175998, 1248679, 1248679, 1277553, 1347273, 1347273, 1407602, 1407602, 1413247, 1439533, 1439533, 1540172, 1835710, 1927003, 2176567, 2176567, 2222656, 2335425, 2341022, 2341022, 2341613, 2469870, 2476279]
[]
[]
[]
[]
[29859, 1826258, 19194]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]

In [5]:
conj_to_predict = conj_to_predict.sort_values('compound_id')
conj_to_predict = conj_to_predict.assign(prediccion='')
conj_to_predict.reset_index(drop=True, inplace=True)
conj_to_predict

       compound_id  cell_id  active prediccion
0               97     5673      -1
1              115     5673      -1
2              146     5673      -1
3              147     5673      -1
4              148      325      -1
...            ...      ...     ...        ...
66309      2537375     5673      -1
66310      2537376      303      -1
66311      2537376      721      -1
66312      2537376      786      -1
66313      2537376      646      -1

[66314 rows x 4 columns]

In [6]:
lista_compuestos_to_predict = conj_to_predict['compound_id'].unique().tolist() #38940
compuestos_top3 = top3['id_29'].unique().tolist() #40
compuestos_top3

[789,
 1216,
 1370,
 2214,
 4149,
 4584,
 8667,
 16741,
 19101,
 22956,
 23634,
 26732,
 27417,
 27647,
 30697,
 38898,
 39794,
 43354,
 71335,
 93858,
 107931,
 115064,
 130007,
 171100,
 182325,
 365281,
 368083,
 379075,
 397731,
 420212,
 425372,
 433015,
 449953,
 454365,
 469690,
 598578,
 675333,
 686684,
 975608,
 1592405]

In [7]:
cont_si = 0
cont_no = 0
compuestos_comun = []
for i in compuestos_top3:
    if i in lista_compuestos_to_predict:
        compuestos_comun.append(i)
        cont_si += 1
    else:
        cont_no += 1
print("contador si, contador no ", cont_si, cont_no)
#     lista_compuestos_to_predict

contador si, contador no  24 16

In [8]:
compuestos_comun

[789,
 1216,
 1370,
 2214,
 4584,
 22956,
 26732,
 27417,
 27647,
 38898,
 43354,
 71335,
 93858,
 130007,
 365281,
 379075,
 420212,
 425372,
 433015,
 449953,
 454365,
 469690,
 686684,
 975608]

In [9]:
activity_to_predict = conj_to_predict[conj_to_predict['compound_id'].isin(compuestos_comun)]
activity_to_predict.reset_index(drop=True, inplace=True)
activity_to_predict

    compound_id  cell_id  active prediccion
0           789     5673      -1
1          1216     5673      -1
2          1370     5671      -1
3          1370     5673      -1
4          2214     5673      -1
5          4584     5673      -1
6         22956     5673      -1
7         26732     5673      -1
8         27417     5673      -1
9         27647     5673      -1
10        38898     5673      -1
11        43354     5673      -1
12        71335     5673      -1
13        93858     5673      -1
14       130007      726      -1
15       130007     5673      -1
16       130007      525      -1
17       130007     1340      -1
18       365281     5732      -1
19       365281     1460       1
20       365281     5673      -1
21       379075      636      -1
22       420212      981      -1
23       420212      744      -1
24       420212     5737      -1
25       425372     5732      -1
26       425372     5673      -1
27       433015     5673      -1
28       449953     5673      -1
29       454365     5673      -1
30       469690     5673      -1
31       686684      594      -1
32       686684      771      -1
33       686684      583      -1
34       686684      325      -1
35       686684      726      -1
36       686684      655      -1
37       686684     5737      -1
38       686684      630      -1
39       686684      589      -1
40       686684      440      -1
41       975608     5813      -1
42       975608     5673      -1

In [15]:
lista_celulas = activity_to_predict['cell_id'].unique() #183
numero_perfil_afinidad = []
for i in lista_celulas:
    lista_compuestos = get_listaCompuestos(i)
    
#     numero_perfil_afinidad.append(len(lista_compuestos))
#     print(len)
# numero_perfil_afinidad

In [131]:
summary_to_predict = summary_29[summary_29['compound_id'].isin(compuestos_comun)]
summary_to_predict = summary_to_predict.sort_values('compound_id')
summary_to_predict #compuestos que están en el top3

         compound_id  cell_id  active
5587408          789      455      -1
5587376          789      754      -1
5587344          789      755      -1
1188166          789      485      -1
4205594          789      722      -1
...              ...      ...     ...
4216629       975608      308      -1
4216642       975608      308      -1
4216670       975608      635      -1
4893091       975608      655      -1
4216533       975608      468      -1

[1214 rows x 3 columns]

In [16]:
obtener_top3_pa

NameError: name 'obtener_top3_pa' is not defined

In [124]:
# # top3_perfil_afinidad = pd.DataFrame(columns = ["cell_id", "compuesto_de_top3", "conteo"])
# top3_perfil_afinidad = pd.DataFrame(columns = ["cell_id", "compuesto_de_top3"])
# # top3_perfil_afinidad
# i = '1'
# j = 't1'
# lista = [i,j]
# # top3_perfil_afinidad.loc[top3_perfil_afinidad.shape[0]] = lista
# top3_perfil_afinidad = top3_perfil_afinidad.|
# top3_perfil_afinidad

Empty DataFrame
Columns: [cell_id, compuesto_de_top3]
Index: []

In [23]:
linea = get_listaCompuestos(5545)
len(linea)

487

In [17]:
top3_perfil_afinidad = pd.DataFrame(columns = ["cell_id", "compuesto_de_top3"])
obtener_top3_pa = perfil_afinidad_activity.drop(['activity'], axis = 1)
lista_df = []
for i in obtener_top3_pa['cell_id']:
    lista_compuestos_pa = get_listaCompuestos(i)
    for j in lista_compuestos_pa:
        if j in compuestos_top3:
            compuestos_pa_i = get_top3_29(j)
            if compuestos_pa_i:
                for l in compuestos_pa_i:
                    lista_df = [i,l]
                    top3_perfil_afinidad.loc[top3_perfil_afinidad.shape[0]] = lista_df
                
top3_perfil_afinidad_plus_sum = top3_perfil_afinidad.groupby(top3_perfil_afinidad.columns.tolist(),as_index=False).size()
top3_perfil_afinidad_plus_sum

     cell_id  compuesto_de_top3  size
0         26             309702     1
1         26             365281     1
2         26             675313     1
3         77              19194     1
4         77              29859     1
..       ...                ...   ...
655     5756             365281     1
656     5756             675313     1
657     5761             309702     1
658     5761             365281     1
659     5761             675313     1

[660 rows x 3 columns]

In [18]:
top3_perfil_afinidad_plus_sum = top3_perfil_afinidad_plus_sum.sort_values('size')
top3_perfil_afinidad_plus_sum

     cell_id  compuesto_de_top3  size
0         26             309702     1
415      673              16825     1
416      673              35324     1
417      673              57632     1
418      673             715115     1
..       ...                ...   ...
113      394             675313     2
112      394             365281     2
111      394             309702     2
203      485             951992     2
558      771             675313     2

[660 rows x 3 columns]

In [21]:
# top3_perfil_afinidad_plus_sum = top3_perfil_afinidad_plus_sum.drop_duplicates()
# top3_perfil_afinidad_plus_sum
# top3_perfil_afinidad
top3_perfil_afinidad_plus_sum[top3_perfil_afinidad_plus_sum['size']>1]

     cell_id  compuesto_de_top3  size
613     5545             482442     2
611     5545             410831     2
617     5545            1303796     2
302      559             675313     2
318      574             309702     2
..       ...                ...   ...
113      394             675313     2
112      394             365281     2
111      394             309702     2
203      485             951992     2
558      771             675313     2

[87 rows x 3 columns]

In [122]:
test_pa
test_pa = top3_perfil_afinidad.groupby(top3_perfil_afinidad.columns.tolist(),as_index=False).size()
test_pa

     cell_id  compuesto_de_top3  size
0         26             309702     3
1         26             365281     3
2         26             675313     3
3         77              19194     3
4         77              29859     3
..       ...                ...   ...
655     5756             365281     3
656     5756             675313     3
657     5761             309702     3
658     5761             365281     3
659     5761             675313     3

[660 rows x 3 columns]

In [11]:
#esta función retorna la lista de compuestos que interactuan con una celula
def get_listaCompuestos(cell):
    lista_compuestos = perfil_afinidad_activity['id_compuestos_actividad'][perfil_afinidad_activity['cell_id']==cell].tolist()
    try:
        lista_compuestos = eval(lista_compuestos[0]) #esto es un list to string
    except:
        pass
    return lista_compuestos

In [12]:
#esta función retorna la lista de compuestos que interactuan con una celula, además de la actividad
def get_listaCompuestos_conActividad(cell):
    try:
        lista_compuestos_actividad = [eval(perfil_afinidad_activity['id_compuestos_actividad'][perfil_afinidad_activity['cell_id']==cell].tolist()[0]),eval(perfil_afinidad_activity['activity'][perfil_afinidad_activity['cell_id']==cell].tolist()[0])]
    except:
        lista_compuestos_actividad = []
    return lista_compuestos_actividad

In [13]:
#esta funcion retornar el top 3 de un compuesto, con los ids pertenecientes a chembl
def get_top3(compound):
    top3_id29 = []
    top3_compuesto = top3['top3'][top3['id_29'] == compound].tolist()
    if top3_compuesto:
        top3_compuesto = eval(top3_compuesto[0])
        for i in top3_compuesto:
            test = top3['id_29'][top3['comp_id'] == i]
            if not test.empty:
                top3_id29.append(test)
        if top3_id29:
            for i in range(len(top3_id29)):
                top3_id29[i] = top3_id29[i].tolist()
    return top3_id29

In [14]:
def get_top3_29(compuesto):
    top3_compuesto = []
    try:
        top3_compuesto = eval(top3['top3_29'][top3['id_29'] == compuesto].tolist()[0])
    except:
        pass
    return top3_compuesto

In [ ]:
for i in activity_to_predict.index:
    prediccion = []
    #de aqui obtengo el par compuesto-linea celular que busco predecir
    compound = activity_to_predict['compound_id'][i]
    cell_line = activity_to_predict['cell_id'][i]
    
    #ahora obtengo todos los compuestos con los que la célula (cell_line) interactue
    lista_compuestos_cell = get_listaCompuestos_conActividad(cell_line)
    #tambien busco el top3 del compuesto
    top3_compuesto = get_top3_29(compound)
    
    #Verifico si en el top3 existe este compuesto
#     if top3_compuesto:
#         print("cmpuesto, cell line ", compound, cell_line)
#         print("lista_compuestos_cell ", lista_compuestos_cell)
#         print("top3_compuesto ", top3_compuesto)
#         for j in top3_compuesto:
#             print(j in lista_compuestos_cell)
#             if int(j) in lista_compuestos_cell:

    for j in lista_compuestos_cell:
   
    
# # print(activity_to_predict[0])

In [35]:
#######esto sería el algoritmo
for index in activity_to_predict.index:
#     index = 0
    compuesto_pred = activity_to_predict['compound_id'][index] #789
    cell_pred = activity_to_predict['cell_id'][index] #5673
    print(compuesto_pred , cell_pred)
    lista_compuestos_cell = get_listaCompuestos_conActividad(cell_pred)
    # print(lista_compuestos_cell)

    if lista_compuestos_cell:
    #primer compuesto es 173, 923, 3859
    # top3_compuesto = get_top3_29(19101)
    # print(top3_compuesto)
        for i in lista_compuestos_cell[0]:
            top3_compuesto = get_top3_29(i)
            if top3_compuesto:
    #             print(i, top3_compuesto)
                if compuesto_pred in top3_compuesto:
                    print("si hay")
    


# top3_compuesto = get_top3_29(compuesto_pred) #[528246, 43354, 1354]
# print(top3_compuesto)
# if lista_compuestos_cell:
#     for i in top3_compuesto:
#     #     print(i)
#         if i in lista_compuestos_cell[0]:
#             print("si")
#         else:
#             print("nope",i)
#             activity_to_predict.at[index, 'prediccion'] = 'NaN'

789 5673
1216 5673
1370 5671
1370 5673
2214 5673
4584 5673
22956 5673
26732 5673
27417 5673
27647 5673
38898 5673
43354 5673
71335 5673
93858 5673
130007 726
130007 5673
130007 525
130007 1340
365281 5732
365281 1460
365281 5673
379075 636
420212 981
420212 744
420212 5737
425372 5732
425372 5673
433015 5673
449953 5673
454365 5673
469690 5673
686684 594
686684 771
686684 583
686684 325
686684 726
686684 655
686684 5737
686684 630
686684 589
686684 440
975608 5813
975608 5673

In [240]:
lista_compuestos_cell = get_listaCompuestos_conActividad(5673)[0]
# lista_compuestos_cell
8130 in lista_compuestos_cell

True

In [223]:
# top3 del perfil de afinidad
for i in activity_to_predict.index:
    prediccion = []
    #de aqui obtengo el par compuesto-linea celular que busco predecir
    compound = activity_to_predict['compound_id'][i]
    cell_line = activity_to_predict['cell_id'][i]
    
    #ahora obtengo todos los compuestos con los que la célula (cell_line) interactue y la actividad respectiva
    lista_compuestos_cell_act = get_listaCompuestos_conActividad(cell_line)
    if lista_compuestos_cell_act:
        lista_compuestos_cell = lista_compuestos_cell_act[0] #Compuestos del a.p de la cell_line
        for j in lista_compuestos_cell: #j es cada compuesto
            top3_compuesto = get_top3_29(j)
            if top3_compuesto:
                if compound in top3_compuesto:
                    print("si hay")
            else:
#                 activity_to_predict.at[compound, 'prediccion'] = 'NaN'
#                 print("no hay")
                activity_to_predict.at[i, 'prediccion'] = 'NaN'
#                 activity_to_predict['prediccion'][activity_to_predict['compound_id']==compound] = None

In [224]:
activity_to_predict

    compound_id  cell_id  active prediccion
0           789     5673      -1        NaN
1          1216     5673      -1        NaN
2          1370     5671      -1        NaN
3          1370     5673      -1        NaN
4          2214     5673      -1        NaN
5          4584     5673      -1        NaN
6         22956     5673      -1        NaN
7         26732     5673      -1        NaN
8         27417     5673      -1        NaN
9         27647     5673      -1        NaN
10        38898     5673      -1        NaN
11        43354     5673      -1        NaN
12        71335     5673      -1        NaN
13        93858     5673      -1        NaN
14       130007      726      -1        NaN
15       130007     5673      -1        NaN
16       130007      525      -1        NaN
17       130007     1340      -1        NaN
18       365281     5732      -1        NaN
19       365281     1460       1        NaN
20       365281     5673      -1        NaN
21       379075      636      -1        NaN
22       420212      981      -1        NaN
23       420212      744      -1        NaN
24       420212     5737      -1        NaN
25       425372     5732      -1        NaN
26       425372     5673      -1        NaN
27       433015     5673      -1        NaN
28       449953     5673      -1        NaN
29       454365     5673      -1        NaN
30       469690     5673      -1        NaN
31       686684      594      -1        NaN
32       686684      771      -1        NaN
33       686684      583      -1        NaN
34       686684      325      -1        NaN
35       686684      726      -1        NaN
36       686684      655      -1        NaN
37       686684     5737      -1        NaN
38       686684      630      -1        NaN
39       686684      589      -1        NaN
40       686684      440      -1        NaN
41       975608     5813      -1        NaN
42       975608     5673      -1        NaN